@page {
    margin: 15mm;
}

@media print {
    .card {
	margin: 0 -1px;
	border: 2px dashed #909090;
    }
}

@media screen {
    .card {
	margin: 0.3em;

	border-radius: 1mm;
	box-shadow: 0.1em 0.1em 0.3em 0 grey;
	border: 1px solid #363636;
    }
}

.card {
    display: flex;
    height: 85.8mm;
    width: 53.98mm;

    padding: 0.33em;

    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.verification {
    position: absolute;
    display: block;
    top: calc(50% - 2em);
    width: 100%;
    opacity: 0;

    color: whitesmoke;
    line-height: 3em;
    font-weight: bold;
    text-align: center;

    text-transform: uppercase;
}

.card.card--verified .verification {
    opacity: 1;

    background: #3dc13d;
    box-shadow: 0 0 40px 1px lightgreen;
}

.card.card--tampered .verification {
    opacity: 1;

    background: red;
    box-shadow: 0 0 40px 1px pink;
}

.card .qr {
    position: relative;
    margin: 0;
    padding: 0;

    flex: 1;

    /* Smart Health card standard */
    min-height: 40mm;
    min-width: 40mm;

    width: 100%;
}

.card .info {
    display: flex;
    flex-direction: row;

    font-size: 0.6em;
}

.card .info label {
    display: block;
}
